---
import WhyChoose from "../Main/WhyChoose/WhyChoose.astro";
import Products from "../Main/Products/Products.astro";
import Brand from "../Main/Brands/Brand.astro";
import Contact from "./Contact/Contact.astro";
import Brochure from "../Brochure.astro";
import Banner from "../Banner.astro";
---

<main class="main px-4 flex flex-col gap-16 max-w-[90rem] m-auto text-center">
  <Products />
  <Brochure className="w-full" />
  <Banner />
  <WhyChoose />
  <Brand />
  <Contact />
</main>
