---
import Feature from "../WhyChoose/Feature.astro";
import HeaderSection from "../HeaderSection.astro";
---

<section class="why">
  <HeaderSection
    title="¿Porqué FEVID?"
    contentText=`"Nuestra empresa se basa en la calidad, integridad, servicio al cliente,
    innovación y seguridad."`
  />

  <div
    class="grid grid-cols-1 gap-12 md:grid-cols-2 md:gap-20 lg:gap-12 xl:grid-cols-4">
    <Feature
      title="Grandes marcas a mejores precios"
      className="md:mr-0"
      source="/section-who/marcas.webm"
      message="Imagen de mejores marcas"
      contentText="Tenemos las mejores marcas en productos industriales nacionales e importados a precios asequibles."
    />

    <Feature
      title="Seguridad en la que puedes confiar"
      className="md:ml-0"
      source="/section-who/seguridad.webm"
      message="Imagen de Seguridad"
      contentText="Confía en nosotros para ofrecerte productos y servicios que cumplen con los más altos estándares de seguridad."
    />

    <Feature
      title="Gran variedad en nuestros productos"
      className="md:mr-0"
      source="/section-who/productos.webm"
      message="Imagen de gama de productos"
      contentText="Explora nuestra amplia gama de productos. Descubre la gran variedad de opciones que tenemos para ti."
    />

    <Feature
      title="Disponibilidad las 24hrs del día"
      className="md:ml-0"
      source="/section-who/tiempo.webm"
      message="Imagen de 24horas"
      contentText="Accede a nuestros servicios en cualquier momento del día. Brindamos atención continua para satisfacer tus necesidades."
    />
  </div>
</section>

<script>
  import ScrollReveal from "scrollreveal";

  ScrollReveal().reveal(".why", {
    distance: "500px",
    duration: 900,
    easing: "ease-in-out",
  });
</script>
