---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Solicitud enviada correctamente"
  description=`Env칤o de datos personales para el adjunto de informaci칩n detallada de productos`>
  <div class="container-response text-center">
    <h2
      class="font-bold text-base pt-32 pb-10 text-pretty md:text-lg lg:text-6xl">
      GRACIAS POR CONFIAR EN NOSOTROS
    </h2>
    <p
      class="w-[900px] mx-auto leading-7 py-20 text-sm md:text-base lg:text-2xl">
      En breve nos pondremos en contacto con usted y le brindaremos mayor
      informaci칩n de nuestro cat치logo de productos y los servicios que
      ofrecemos. Todo esto ser치 enviado a su bandeja de entrada del correo
      electr칩nico registrado en nuestro formulario.
    </p>
    <a
      href="/"
      class="block mb-8 text-base md:text-base lg:text-xl font-semibold transition-all text-clr-primary hover:text-clr-dark-primary">
      游 Si칠ntase libre y siga navegando!! 游
    </a>
  </div>
</Layout>

<style>
  .container-response {
    min-height: calc(100vh - 614px);
  }
</style>
