---
import Menu from "../Header/Menu.astro";
import Brand from "../Header/Brand.astro";
import HamburguerMenu from "../Header/HamburguerMenu.astro";
---

<header
  class="header border-b p-4 h-20 flex justify-around z-10 mr-auto relative">
  <nav class="navbar flex items-center justify-between gap-4 w-[90rem]">
    <Brand />
    <HamburguerMenu />
    <Menu />
  </nav>
</header>
