---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<a
  href="/brochure-fevid.pdf"
  target="_blank"
  class={`brochure max-w-[90rem] mx-auto flex gap-3 justify-center items-center py-3 border font-bold text-lg hover:text-[19px] bg-red-600/85 text-white rounded-lg shadow-xl hover:bg-red-600/75 md:text-2xl hover:md:text-[25px]
  ${className}`}>
  <img src="/pdf.svg" alt="Descargar Brochure en PDF" width="40" height="40" />
  Descargar Brochure
</a>

<style>
  .brochure {
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
  }
</style>

<script>
  import ScrollReveal from "scrollreveal";

  ScrollReveal().reveal(".brochure", {
    distance: "500px",
    duration: 900,
    easing: "ease-in-out",
  });
</script>
