---
interface Props {
  className?: string;
  src: string;
  alt: string;
  contentText: string;
}

const { className, src, alt, contentText } = Astro.props;
---

<button
  type="button"
  class={`${className} btn flex items-center gap-3 min-w-60 border-none rounded-full py-2 text-white text-sm font-semibold transition-all md:justify-center md:text-base md:min-w-72`}>
  <img src={src} alt={alt} width="36" height="36" class="ml-5 md:ml-0" />
  <span>{contentText}</span>
</button>

<style lang="scss">
  .btn:hover {
    transform: scale(1.025) translateY(-1px);
  }

  .btn {
    &-wsp {
      background-color: rgba(29, 167, 82, 1);
      &:hover {
        background-color: rgba(29, 167, 82, 0.9);
      }
    }

    &-email {
      background-color: rgb(42, 111, 168);
      &:hover {
        background-color: rgba(42, 111, 168, 0.9);
      }
    }

    &-form {
      border-radius: 8px;
      color: black;
      background-color: rgba(255, 191, 96, 1);
      &:hover {
        background-color: rgba(255, 191, 96, 0.8);
      }
    }
  }
</style>
