---
export interface Props {
  src: string;
  alt: string;
  classPosition: string;
  classImg: string;
}

const { src, alt, classPosition, classImg } = Astro.props;
---

<a
  href="#"
  class={`cursor-pointer fixed rounded-full transform hover:scale-110 transition-transform  ${classPosition}`}>
  <img src={src} alt={alt} class={classImg} />
</a>
