<footer class="footer bg-clr-shadow text-black px-4 py-5">
  <figure class="footer-logo mb-8 lg:mb-16">
    <img src="/logo.png" alt="Logo" width="750" height="auto" class="m-auto lg:py-4" />
  </figure>
  <div class="footer-content grid grid-cols-1 sm:place-items-center lg:grid-cols-2 lg:items-start">
    <div class="footer-contact mb-4">
      <h5 class="text-center text-lg font-semibold pb-4 lg:text-2xl">Información destacada</h5>
      <div class="footer-contact-content text-sm lg:text-lg">
        <p class="footer-contact-direction mb-4 flex items-center gap-4">
          Mz N Lt.9 Asoc. Montercarlo I San Martín de Porres - Lima, Perú.
        </p>
        <p class="footer-contact-phone mb-4 flex items-center gap-4">+51-923157517</p>
        <p class="footer-contact-hotmail mb-2 flex items-center gap-4">ventas@fevidsac.com</p>
        <p class="footer-contact-gmail mb-2 flex items-center gap-4">fevidsac@gmail.com</p>
        <p class="footer-contact-hotmail mb-2 flex items-center gap-4">fevidsac@hotmail.com</p>
      </div>
    </div>

    <div class="footer-socialmedia">
      <h5 class="text-center font-semibold pb-4 text-lg lg:text-2xl">Redes Sociales</h5>
      <div class="footer-socialmedia-content flex gap-2.5 justify-center">
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="/facebook.svg" alt="Icon Facebook" width="30" height="30" />
        </a>
        <a href="https://www.linkedin.com/in/fevid-sac-undefined-57309b2a1/" target="_blank" rel="noopener noreferrer">
          <img src="/linkedin.svg" alt="Icon Linkedin" width="30" height="30" />
        </a>
      </div>
    </div>
  </div>

  <style lang="scss">
    .footer-contact-direction:before,
    .footer-contact-phone:before,
    .footer-contact-gmail:before,
    .footer-contact-hotmail:before {
      content: "";
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
    }

    .footer-contact-direction:before {
      background-image: url("/location.svg");
    }

    .footer-contact-phone:before {
      background-image: url("/phone.svg");
    }

    .footer-contact-gmail:before {
      background-image: url("/gmail.svg");
    }

    .footer-contact-hotmail:before {
      background-image: url("/hotmail.svg");
    }
  </style>
</footer>
