---
import Link from "./Link.astro";
import Modal from "./Modal.astro";
---

<footer class="footer bg-clr-shadow text-black px-4 py-5">
  <figure class="footer-logo mb-8 lg:mb-16">
    <img src="/logo.png" alt="Logo" width="750" height="auto" class="m-auto lg:py-4" />
  </figure>
  <div class="footer-content grid grid-cols-1 sm:place-items-center lg:grid-cols-2 lg:items-start">
    <div class="footer-contact mb-4">
      <h5 class="text-center text-lg font-semibold pb-4 lg:text-2xl">Información destacada</h5>
      <div class="footer-contact-content text-sm md:text-base lg:text-lg">
        <p class="footer-contact-direction mb-2 flex items-center gap-4">
          Mz N Lt.9 Asoc. Montercarlo I San Martín de Porres - Lima, Perú.
        </p>

        <Link
          href="https://wa.me/51923157617?text=Hola, Quisiera obtener mayor información del catálogo de sus productos"
          className="footer-contact-phone mb-2 flex items-center gap-4"
          contentText="+51-923157517"
          src="/phone.svg"
          alt="Número de contacto de WhatsApp"
        />

        <Link
          href="mailto:ventas@fevidsac.com"
          className="footer-contact-email mb-2 flex items-center gap-4"
          contentText="ventas@fevidsac.com"
          src="/hotmail.svg"
          alt="Email Corporativo"
          onclick="modalLinkFooter.showModal()"
        />

        <Link
          href="mailto:fevidsac@hotmail.com"
          className="footer-contact-email mb-2 flex items-center gap-4"
          contentText="fevidsac@hotmail.com"
          src="/hotmail.svg"
          alt="Correo Hotmail"
          onclick="modalLinkFooter.showModal()"
        />

        <Link
          href="mailto:fevidsac@gmail.com"
          className="footer-contact-gmail mb-2 flex items-center gap-4"
          contentText="fevidsac@gmail.com"
          src="/gmail.svg"
          alt="Correo Gmail"
          onclick="modalLinkFooter.showModal()"
        />

        <Modal
          id="modalLinkFooter"
          text="Envía la información que necesitas a nuestros correos corporativos y nos pondremos en comunicación con usted en breve."
        />
      </div>
    </div>
    <div class="footer-socialmedia">
      <h5 class="text-center font-semibold pb-4 text-lg lg:text-2xl">Redes Sociales</h5>
      <div class="footer-socialmedia-content flex gap-2.5 justify-center">
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="/facebook.svg" alt="Icon Facebook" width="30" height="30" />
        </a>
        <a href="https://www.linkedin.com/in/fevid-sac-undefined-57309b2a1/" target="_blank" rel="noopener noreferrer">
          <img src="/linkedin.svg" alt="Icon Linkedin" width="30" height="30" />
        </a>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .footer-contact-direction:before {
    content: "";
    background-image: url("/location.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
  }
</style>
