---
import Link from "./Link.astro";
import Modal from "./Modal.astro";
---

<div class="hero relative pb-8">
  <figure class="relative first-line:inline-block overflow-hidden w-full">
    <img
      src="/hero.webp"
      alt="Industrial Products"
      width="100%"
      class="object-cover h-screen -mt-20 animate-fade-down animate-duration-1000 animate-ease-out"
    />
  </figure>

  <div
    class="hero-content absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col gap-10 md:gap-16 text-pretty">
    <div class="text-white text-center max-w-80 md:max-w-[700px]">
      <h2 class="text-4xl font-bold mb-8 md:text-8xl">
        <p>
          Bienvenido a <span class="block">FEVID S.A.C.</span>
        </p>
      </h2>
      <p class="text-base font-semibold md:text-xl lg:text-2xl">
        Venta al por mayor y menor de todo tipo de productos industriales, como: Productos eléctricos y gasfíteria,
        estructuras metálicas, EPP's, materiales de construcción, productos forestales, proveeduría, ferretería en
        general, servicios, entre otros.
      </p>
    </div>

    <div class="hero-links flex flex-col md:flex-row gap-3 items-center justify-center">
      <Link
        href={`https://wa.me/51923157617?text=Hola, Quisiera obtener mayor información del catálogo de sus productos (Nacionales e Importados)`}
        target="_blank"
        className="link-wsp border-none rounded-full  text-white min-w-60 py-2 lg:py-3 md:justify-center md:min-w-72"
        src="/whatsApp.svg"
        alt="Icono de WhatsApp"
        contentText="Cotizar por Whatsapp"
      />

      <!-- These two components are related (Link and Modal) -->
      <Link
        href="mailto:ventas@fevidsac.com;info@fevidsac.com?subject=Solicitud%20de%20informaci%C3%B3n%20del%20cat%C3%A1logo%20de%20productos&body=Hola%2C%20Quisiera%20obtener%20mayor%20informaci%C3%B3n%20del%20cat%C3%A1logo%20de%20productos"
        className="link-email border-none rounded-full text-white min-w-60 py-2 lg:py-3 md:justify-center md:min-w-72"
        src="/email.svg"
        alt="Icono de Email"
        contentText="Cotizar por Email"
        onclick="modalLinkHero.showModal()"
      />

      <Modal
        id="modalLinkHero"
        text="Envía la información que necesitas a nuestros correos corporativos y nos pondremos en comunicación con usted en breve."
      />
    </div>
  </div>
</div>

<style lang="scss">
  figure::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(4px);
  }
</style>
