---
import HeaderSection from "../HeaderSection.astro";
import Slider from "../Brands/Slider.astro";
---

<section class="brands">
  <HeaderSection
    title="Marcas que cotizamos"
    contentText=`"Descubre el poder y la distinción detrás de cada marca que elegimos cuidadosamente para ti."`
  />

  <Slider />
</section>

<script>
  import ScrollReveal from "scrollreveal";

  ScrollReveal().reveal(".brands", {
    distance: "500px",
    duration: 900,
    easing: "ease-in-out",
  });
</script>
