---
import HeaderSection from "../HeaderSection.astro";
import Slider from "../Brands/Slider.astro";
---

<section>
  <HeaderSection
    title="Nuestras Marcas"
    contentText=`"Descubre el poder y la distinción detrás de cada marca que elegimos cuidadosamente para ti."`
  />

  <Slider />
</section>
