---
interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="slide img w-[600px]">
  <img src={src} alt={alt} />
</div>

<style>
  .slide {
    width: 600px;
    height: 160px;
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .slide img {
    width: 100%;
    height: 100%;
  }
</style>
