---
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import SEO from "../components/SEO.astro";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- CHANGE CANONICAL FOR THE CORRECT LINK -->
    <SEO title={title} description={description} canonical="https://fevidsac.netlify.app/" />
    <ViewTransitions fallback="swap" />
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        --clr-light: #faf6ec;
        --clr-dark: #371a11;
        --clr-primary: #d09845;
        --clr-light-primary: #e8d0a0;
        --clr-dark-primary: #a56429;
        --clr-black: #000;
        --clr-white: #fff;
      }
      html {
        font-family: "Poppins", sans-serif;
        min-height: 100vh;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
