---
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import { ViewTransitions, slide } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" transition:animate={slide({ duration: "0.4s" })}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body>
    <slot />
    <style is:global>
      :root {
        --clr-light: #faf6ec;
        --clr-dark: #371a11;
        --clr-primary: #d09845;
        --clr-light-primary: #e8d0a0;
        --clr-dark-primary: #a56429;
        --clr-black: #000;
        --clr-white: #fff;
      }
      html {
        font-family: "Poppins", sans-serif;
        min-height: 100vh;
      }
    </style>
  </body>
</html>
